.fill svg {
  fill: var(--primary);
}

.star {
  display: inline-block;
}

.star svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.editable {
  cursor: pointer;
}

.wrapper {
  position: relative;
  display: flex;
  gap: 5px;
}

.error {
  color: var(--red);
}

.error svg {
  stroke: var(--red);
}
