.menu ul {
  list-style: none;
}

.firstLevel {
  display: flex;
  gap: 20px;
  align-items: center;

  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
}

.firstLevelList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.secondBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;

  margin-top: 15px;
  margin-left: 12px;
  padding: 0 0 0 32px;

  border-left: 1px solid #dfdfdf;
}

.secondLevel {
  cursor: pointer;

  font-size: 12px;
  font-weight: 300;
  color: var(--gray-dark);
  text-transform: uppercase;

  background: none;
  border: none;
}

.thirdBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.thirdLevel {
  cursor: pointer;

  display: block;

  font-size: 14px;
  font-weight: 500;
  color: var(--gray-dark);

  outline-offset: -1px;
}

.firstLevelActive,
.firstLevel:hover,
.firstLevelActive svg,
.firstLevel:hover svg,
.secondLevelActive,
.secondLevel:hover,
.thirdLevelActive,
.thirdLevel:hover {
  fill: var(--primary);
}
