.search {
  position: relative;
  width: 100%;
}

.input input {
  width: 100%;
}

.search .button {
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translateY(-50%);

  width: 30px;
  height: 30px;
  padding: 7px;
}
